* {
    
}

body {
    margin:0px;
    padding:0px;
    background-size:cover;
    background-image:url('./bg.jpeg');
    background-repeat:no-repeat;
}


.container {
    height:160px;
    width:500px;
    background-color:rgb(240, 240, 240);
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border-radius:5px;
    border:solid 1px rgba(0, 0, 0, 0.64);
    box-sizing:border-box;
    margin-top:20px;
}

.container h1 {
    text-align:center;
    margin:0px;
    padding:0px;
    font-family: 'EB Garamond', serif;
    text-shadow:0px 0px 3px rgba(0,0,0,.2);
}

.deathSelect {
    width:200px;
    padding:5px;
    text-align:center;
    margin:auto;
    margin-top:20px;
    margin-bottom:0px;
    border:0px;

}

.deathSelect:focus {
    outline:0;
}

.searchBtn {
    padding:0px;
    width:200px;
    height:30px;
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    border:0px;
    cursor:pointer;
    background-color:rgb(198, 198, 198);
}

.searchBtn:active {
    background-color:black;
    color:white;
}

.searchBtn:focus {
    outline:0;
}

.celebBox {
    height:100%;
    width:500px;
    background-color:rgb(240, 240, 240);
    border:solid 1px rgba(0, 0, 0, 0.64);
    border-radius:5px;
    margin:auto;
    margin-top:20px;
    padding:5px 10px;
}

.celebHeading {
    text-align:center;
    font-family: 'EB Garamond', serif;
    font-size:25px;
    text-shadow:0px 0px 3px rgba(0,0,0,.2);
}

.celebDivider {
    width:70%;
}

.celebInfo {
    
}