* {
    
}

body {
    margin:0px;
    padding:0px;
    background-size:cover;
    background-image:url('./bg.jpeg');
    background-repeat:no-repeat;
}


.container {
    height:100%;
    width:500px;
    background-color:rgb(30, 30, 30);
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border-radius:5px;
    box-sizing:border-box;
    margin-top:20px;
    box-shadow:0px 0px 10px rgba(0,0,0,.6);
    position:relative;
    padding-top:0px;
    padding-bottom:20px;
}

.container h1 {
    text-align:center;
    padding:0px;
    font-family: 'EB Garamond', serif;
    letter-spacing:1px;
    color:rgb(223, 223, 223);
    margin:20px 0px;
}

.deathSelect {
    width:200px;
    padding:5px;
    text-align:center;
    margin:auto;
    margin-bottom:0px;
    border:0px;

}

.deathSelectNewCeleb {
    width:200px;
    padding:5px;
    text-align:center;
    margin:auto;
    margin-bottom:0px;
    border:0px;
}

.deathSelectNewCeleb:focus {
    outline:0;
}

.deathSelect:focus {
    outline:0;
}

.searchBtn {
    padding:0px;
    width:200px;
    height:30px;
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    border:0px;
    cursor:pointer;
    background-color:rgb(198, 198, 198);
}

.addCelebBtn {
    padding:0px;
    width:200px;
    height:30px;
    margin:auto;
    margin-bottom:0px;
    border:0px;
    cursor:pointer;
    background-color:rgb(198, 198, 198);
}

.addCelebBtn:active {
    background-color:black;
    color:rgb(235, 235, 235);
}

.addCelebBtn:focus {
    outline:0;
}

.searchBtn:active {
    background-color:black;
    color:rgb(235, 235, 235);
}

.searchBtn:focus {
    outline:0;
}

.firstNameInputBox, .lastNameInputBox {
    background-color:green;
    height:50px;
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border:solid 2px black;
    margin:0px 10px;
}
.celebBox {
    height:100%;
    width:500px;
    background-color:rgb(30, 30, 30);
    border-radius:5px;
    margin:auto;
    margin-top:20px;
    padding:15px 20px;
    box-shadow:0px 0px 10px rgba(0,0,0,.6);
}

.celebHeading {
    text-align:center;
    font-family: 'EB Garamond', serif;
    font-size:25px;
    letter-spacing:1px;
    color:rgb(223, 223, 223);
}

.celebDivider {
    width:70%;
}


.celebTable {
    margin:auto;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
    padding:5px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
  }


  th {
      background-color:rgb(137, 0, 0);
      color:rgb(235, 235, 235);
  }

  td {
    background-color:rgb(235, 235, 235);
    color:black;
  }

